# Q1. Create a list in python using the followings: 2,3,4,5,6,7 with variable ‘a’ Add ‘mango to the above list
# Also add banana, grapes & orange in the list
# insert apple in the 5th position of a variable ‘a’
# Remove last item from the list

In [6]:
a = [2,3,4,5,6,7]
b = ['mango', "banana" , "grapes" , "orange"]

In [7]:
b

['mango', 'banana', 'grapes', 'orange']

In [8]:
a.append(b)

In [9]:
a

[2, 3, 4, 5, 6, 7, ['mango', 'banana', 'grapes', 'orange']]

In [13]:
a.insert( 4, 'apple')

In [14]:
a

[2,
 3,
 4,
 5,
 'apple',
 'apple',
 6,
 7,
 ['mango', 'banana', 'grapes', 'orange'],
 'apple']

In [22]:
a.pop()

'apple'

In [23]:
a

[2, 3, 4, 5, 'apple', 'apple', ['mango', 'banana', 'grapes', 'orange']]

In [25]:
a.remove('apple')

In [26]:
a

[2, 3, 4, 5, 'apple', ['mango', 'banana', 'grapes', 'orange']]

# Q2.
# L = [1,2,3,4,5,6,7]
# Using the above list slice from 1:4

In [27]:
L = [1,2,3,4,5,6,7]

In [28]:
L [1:4]

[2, 3, 4]

# Q3. Reverse the order of given string L = [4,5,6,8,3] Without using reverse() function.

In [29]:
L = [4,5,6,8,3]

In [30]:
L.reverse()

In [31]:
L

[3, 8, 6, 5, 4]

In [32]:
L[:-1]

[3, 8, 6, 5]

# Q4. Use list comprehension to square the given list L=[2,4,7,3,6,8]

In [33]:
L=[2,4,7,3,6,8]

In [34]:
L

[2, 4, 7, 3, 6, 8]

In [36]:
L.count(1)

0

In [40]:
square_L = list(map(lambda x : x**2 , L))

In [41]:
square_L

[4, 16, 49, 9, 36, 64]

# Q5. Create a function that takes in a tuple of integers and returns the sum of the integers. Test the function with a tuple of your choice.

In [1]:
my_tuples = (1,2,3,4,5,6,7,8,9)

In [2]:
my_tuples

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [6]:
tuples_sum = sum(my_tuples)
print(tuples_sum)

45

# Q6. Create two sets of your favourite fruits, and use the union() method to combine them into a single set. Print the resulting set to the console.

In [13]:
set_1 = {'mango' , 'banana' , 'apple' , 'orange'}
set_2 = {'apple' , 'lemon' , 'banana'}
set_1.union(set_2)

{'apple', 'banana', 'lemon', 'mango', 'orange'}

In [8]:
set_1

{'apple', 'banana', 'mango', 'orange'}

In [9]:
set_2

{'apple', 'banana', 'lemon'}

In [11]:
print(set_1.union(set_2))

{'mango', 'apple', 'lemon', 'orange', 'banana'}

In [14]:
set_1.intersection(set_2)

{'apple', 'banana'}

# Q7. Create a set of random words, and use the add() method to add a new word to the set. Print the resulting set to the console.

In [15]:
my_set = {"apple", "banana", "cherry", "orange"}

my_set.add("mango")

print(my_set)

{'cherry', 'orange', 'mango', 'apple', 'banana'}

# Q8. Create a set of your favourite animals, and use the remove() method to remove one animal from the set. Print the resulting set to the console.

In [17]:
my_animal = {'dog', 'cat' , 'fox' , 'wolve' , 'tiger'}
my_animal.remove('tiger')
print(my_animal)

{'dog', 'cat', 'fox', 'wolve'}

# Q9. favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
# favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
# Use the zip() function to combine the book set and movie list into a list of tuples representing book/
# movie pairs. Print the resulting list.

In [18]:
favorite_books = {"1984", "To Kill a Mockingbird", "Pride and Prejudice"}
favorite_movies = ["The Shawshank Redemption", "The Godfather", "The Dark Knight"]
new_lst = tuple(zip(favorite_books , favorite_movies))
print(new_lst)

(('Pride and Prejudice', 'The Shawshank Redemption'), ('To Kill a Mockingbird', 'The Godfather'), ('1984', 'The Dark Knight'))

# Q10. Write a Python program to find the difference between consecutive numbers in a list.

In [19]:
lst = [1,3,4,56,78,99,234,54]
 diff
for i in range(len((lst)-1)):
    diff = lst[i+1]-lst[i]
    diff_lst.append(diff)
    
print(diff_lst)